.description{
  padding: 10px;
}

.content__ava{
  width: 50px;
  height: 50px;
}

.image{
  width: 100px;
  height: 50px;
}

.mainPhoto{
  width: 300px;
}

.contact{
  padding-left: 10px;
}

.error{
  color:pink;
  border: 1px solid pink;
}